
body {
    background-color: #777;
    width: 960px;
}

p {

    color: black;
}




#header {
    background-color:#ebebeb;
    margin-left: 20px
    color: green;
    text-align:center;
    width: 400px
    height:495px;
   
    border: 70px
}
#nav {background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    
}
#section {
    line-height:30px;
    text-align: center;
    background-color:#eeeeee;
    height:100%;
    width:50%;
    float:left;
    padding:5px; }

#aside {
    text-align: center;
    background-color:#eeeeee;
    height:200px;
    width: 50%
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

#article {  line-height:30px;
    text-align: center;
    background-color: grey;
    height:40px;
    width:100%;
    padding:5px; }





h1, h2, h3, h4, h5, h6 {
    font-family: tahoma, sans-serif;
    color: #531;
    margin: .25ex 12pt;
}

h2 {
    font-size: 130%;
    color: #840;
}

a {
    text-decoration: none;
    color: #f80;
}
